    * {
        margin: 0;
        padding: 0;
    }

    .body {
        width: 100%;
        height: 100%;
        line-height: 1.5;
    }

    .up {
        width: 1349px;
        height: 40px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(2, 25, 72, .3);
    }

    .nav1 {
        width: 1349px;
        height: 40px;
        padding: 0 40px;
        height: 40px;
        position: relative;
        white-space: nowrap;
    }

    .bx {
        height: 40px;
        width: 61.82px;
        background-image: url("bx.png");
        background-repeat: no-repeat;
        background-position: -18px -75px;
        margin-right: 30px;
        position: relative;
        display: inline-block;
        color: #009ae4;
    }

    .items {
        width: 212px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }

    .items>a {
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(255, 255, 255, .7);
        background: 0 0;
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding: 0;
        line-height: 2.4;
        color: rgba(255, 255, 255, .7);
        background: 0 0;
        white-space: nowrap;
        transition: color 200ms, background-color 200ms, border-color 200ms;
    }

    .load {
        right: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        vertical-align: baseline;
    }

    .zc {
        width: 30px;
        margin-left: 0;
        height: 40px;
        font-size: 15px;
        line-height: 1.4;
        text-decoration: none;

        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 60px;
        padding: 0;
        font-size: 17px;
        box-sizing: border-box;
        vertical-align: baseline;
        color: rgba(255, 255, 255, .7);
        background: 0 0;
        white-space: nowrap;
        transition: color 200ms, background-color 200ms, border-color 200ms;
    }

    .nd {
        width: 91px;
        margin-left: 30px;
        height: 40px;
        font-size: 15px;
        line-height: 1.4;
        text-decoration: none;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 60px;
        padding: 0;
        font-size: 17px;
        box-sizing: border-box;
        vertical-align: baseline;
        color: rgba(255, 255, 255, .7);
        background: 0 0;
        white-space: nowrap;
        transition: color 200ms, background-color 200ms, border-color 200ms;
        cursor: pointer;
        user-select: none;
    }

    .zi {
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: baseline;
        margin-right: 30px;
    }

    .top {
        width: 1349px;
        height: 82px;
        position: fixed;
        top: 44px;
        left: 0;
        display: block;
    }

    .head {
        width: 1309px;
        height: 62px;
        margin: 20px 20px 0;
        background-color: rgba(40, 53, 79, .9);
        position: relative;
    }

    .logo {
        width: 245px;
        height: 62px;
        float: left;
        font-size: 0;
        margin: 0;
        background-image: url(logo白.png);
        background-size: 202px 60px;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
    }

    .list {
        width: 891px;
        height: 62px;
        margin: 0;
        float: left;
        font-size: 10px;
        list-style: none;
        padding: 0;
    }

    .list li {
        display: inline-block;
        border-bottom: 0 solid transparent;
        padding: 24px 15px 22px;
        box-sizing: border-box;
        line-height: 1;
        font-size: 1.2rem;
        font-family: "microsoft yahei", arial, sans-serif;
        text-transform: none;
        color: rgba(255, 255, 255, .85);
        min-width: auto;
        text-align: center;
        text-shadow: none;
        letter-spacing: .05em;
        position: relative;
        cursor: pointer;
        -webkit-transition: background-color 200ms;
        transition: background-color 200ms;
        color: white;
        text-align: center;
        line-height: 62px;
        font-size: 1rem;
        min-width: 50px;
        padding: 24px 0 22px;
        display: inline-block;
        height: 100%;
        float: left;
        margin: 0;
        padding: 0;
        margin-left: 40px;
    }

    .buy {
        font-weight: 600;
        background-color: #f7931e;
        color: white;
        width: 99px;
        height: 62px;
        float: right;
        margin: 0;
        display: inline-block;
        border-bottom: 0 solid transparent;
        padding: 24px 15px 22px;
        box-sizing: border-box;
        line-height: 1;
        font-size: 1.2rem;
        font-family: "microsoft yahei", arial, sans-serif;
        text-transform: none;
        color: rgba(255, 255, 255, .85);
        min-width: auto;
        text-align: center;
        text-shadow: none;
        letter-spacing: .05em;
        position: relative;
        cursor: pointer;
        -webkit-transition: background-color 200ms;
        transition: background-color 200ms;
    }

    .buy a {
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 1390px;
        height: 782px;
        z-index: -100;
        background-size: cover;
    }
    .lg{
        width: 1349px;
        height: 326px;
        padding-left: 24px;
    padding-right: 24px;
    float: none;
    text-align: center;
    width: 100%;
        max-width: none;
    margin-left: auto;
    margin-right: auto;
    }
    .show{
        position: relative;
        top: 126px;
        left: -33px;

    }
    .logoC{
        margin-top: 30px;
    margin-bottom: -40px;
    min-width: 350px;
    width: 50vmin;
    margin-left: 2vmin;

    }
    .img{
        height: auto;
    border: 0 none;
    max-width: 100%;
    }
    .shop{
        width: 1367px;
        height: 170px;
        position: absolute;
        left: 0;
        top: 350px;
        

    }